body{
  background-image: url("imagens/background2.jpg");
  background-repeat: repeat-X;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 110px;
  margin-right: 110px;
  text-align: center;
  background-color: #000000d2;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 0;
}

 p {
  background-color: rgba(255, 255, 255, 0.63);
  padding: 20px;
  display: none;
  text-align: center;  
  color: black;
}

.link{
  color:#000000;
}
h2:hover + p {
  display: block;
  text-align: center;

}

h2{ 
  color:#fff;
} 
.topo1{
  background-color: #fff;
  margin-top: 3.97%;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 637px;
  text-align: left;
  color: #000;
  font-family: 'Bebas Neue', cursive;
}

.topo2{
  background-color:#000;
  margin-top: -300px;
  margin-bottom: 15%;
  margin-left: 450px;
  margin-right: 100px;
  text-align: justify, center;
  color: #fff;
  }

  .topo3{
    background-color:#fff;
    margin-top: -150px;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #000;
    font-family: 'Roboto Mono', monospace;
    width: 10%;
    height:5%;
  }

  .topo4{
    background-color:#000;
    margin-top: -150px;
    margin-bottom: 2%;
    margin-left: 60%;
    margin-right: auto;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    width: 10%;
    height:7%;
  }
.conteudo{
  background-color: #55555557;
  margin-top: 0%;  
  margin-bottom: auto;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}
.conteudo2{
  background-color: #27212157;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}
.conteudo3{
  background-color: #27212157;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.conteudo4{
  background-color: #27212157;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.footer{
  background-color: #fff;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Roboto Mono', monospace;
}

.special{
  color:#000;
  
}